*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #000;
  font: 400 16px/20px 'Open Sans', Arial, Verdana, sans-serif;
}

a {;
  color: #1d8cd1;
  text-decoration: none;
}

input,
label {
  display: block;
}

label {
  margin-top: 1em;
}

input {
  border: 1px solid #777;
  border-radius: 4px;
  font-family: 'Open Sans', Arial, Verdana, sans-serif;
  padding: 0.25em 0.5em;
}

  label + input {
    margin-top: 0.5em;
  }

  input[type='submit'] {
    margin-top: 1em;
  }

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  border-bottom: 1px solid #777;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

  h2 a {
    float: right;
    font-size: 1rem;
  }

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #777;
}

th,
td {
  padding: 0.25em 0.5em;
}

header {
  background-color: #eee;
  height: 80px;
  padding: 1em 2em;
}

  #logo {
    float: left;
    width: 300px;
  }

  nav#user {
    padding-top: 0.75em;
    text-align: right;
  }

footer {
  background-color: #eee;
  padding: 1em 2em;
  text-align: center;
}

  #login-link {
    display: block;
    font-size: 0.9em;
    margin-bottom: 1em;
  }

section#main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em;
}

.table-actions a {
  margin-right: 1em;
}
